body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.org-color{
    color: orange;
    font-family: 'Pushster', cursive;;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-div{
    width: 50%;
    padding-left: 5%;
}
.half-div img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
}
.sec-one{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;

}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(245, 84, 56), rgb(160, 30, 7));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}